/* .inputColorPrelab {
    background-color: #c5d7fa;
}

.inputColorPrelab:focus {
    background-color: #c5d7fa;
}

.inputColorInlab {
    background-color: #ffffff;  
}

.inputColorInlab:focus {
    background-color: #ffd4d4;  
} */