.root {
    display: flex;
  }
  
  .root label {
    flex: 0 1 15%;
    box-sizing: border-box;
  }
  
  .root input {
    flex: 0 1 85%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: silver;
    border: none;
  }
  