.primary {
    background-color: #0d6efd;
}

.success {
    color:#fff;
    background-color:#28a745;
    border-color:#28a745;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.danger {
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.btn {
    cursor: pointer;
    padding: 10px 60px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
