.root {
  margin-left: 10px;
}
.active {
  color: #000000 !important; 
  background-color: #c7c7c7;
}

.parent {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  padding: 0px !important;
}



.frameNav {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 13vw;
  height: 10vh;
  border-bottom: 1px solid rgb(148, 148, 148);
  list-style-type: none !important;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  position: relative;
}

.frameNav:hover {
  background-color: #75d1ff;
}

.frameNav:hover .itemMenu {
  color: #fff !important;
}
.itemMenu {
  background-color: inherit;
  text-decoration: none;
  color: #0e4051;
}

.item {
  background-color: inherit;
  text-decoration: none;
  color: #0e4051;
  text-align: center;
}

.frameSubMenu {
  display: none;
  position: absolute;
  top: 10vh;
  left: -12%;
  z-index: 1000;
}

.frameSubMenu a {
  background-color: #dbeafe;
  justify-content: center;
  border-top: 1px solid rgb(148, 148, 148);
  border-left: 1px solid rgb(148, 148, 148);
  border-right: 1px solid rgb(148, 148, 148);
  display: block;
  font-size: 16px;
  border-radius: 5px;
  height: 10vh;
  width: 16vw;
  display: flex;
  align-items: center;
}

.frameSubMenu a:hover {
  background-color: #75d1ff;
  color: #fff !important;
}


.frameSubMenu a:last-child {
  border-bottom: 1px solid rgb(148, 148, 148);
}

.frameSubMenu a:first-child {
  border-top: none;
}

@media (max-width: 993px) {
  .collapseButton {
    display: block !important;
    text-align: end;
    /* border: 1px solid #000 !important; */
    font-size: 30px;
  }

  .frameNav {
    display: none;
  }

  .parent {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1.5vh;
  }
}

.collapseButton {
  background-color: inherit;
  border: none;
  display: none;
}