.tabContainer {
  display: flex;
  margin-bottom: 10px;
  border: none !important;
}

.tabButton {
  padding: 10px;
  border: none;
  cursor: pointer;
  /* width: 230px; */
  position: relative;
  text-align: center;
}

.tabButton1 {
  background-color: #D1FADF;
  color: #075133;
  border-radius: 30px 0 0 30px;
}

.tabButton1::after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  border-left: 12px solid #D1FADF;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}


.tabButton2 {
  background-color: #FEF0C7;
  color: #7C3314;
}

.tabButton2::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -12px;
  border-left: 13px solid #FEF0C7;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;

}

.tabButton2::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  border-left: 13px solid #fff;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}

.tabButton3 {
  background-color: #FEE4E2;
  color: #6E1507;
}

.tabButton3::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -12px;
  border-left: 13px solid #FEE4E2;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;

}

.tabButton3::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  border-left: 13px solid #fff;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}

.tabButton4 {
  background-color: #F2F4F7;
  color: #0D1627;
  border-radius: 0 30px 30px 0;
}


.tabButton4::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  border-left: 13px solid #fff;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}

@media (min-width: 1200px) {
  .tabButton2::before, .tabButton3::before, .tabButton4::before {
    display:block;
  }
}

@media (max-width: 993px) {
  .tabButton3::before, .tabButton2::after {
    display: none;
  }
  .tabButton3 {
    border-radius: 30px 0 0 30px;
  }
  .tabButton2 {
    border-radius: 0 30px 30px 0;
  }
}

@media (max-width: 769px) {
  .tabButton2::before, .tabButton3::before, .tabButton4::before, .tabButton1::after, .tabButton3::after{
    display: none;
  }
  .tabButton {
    border-radius: 30px
  }
}














.tabContent {
  padding: 10px;
}

.interactionArea {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.title {
  height: 150px;
  background-color: #F6AAC4;
  color: #FFF;
  font-family: 'Segoe UI';
  display: flex;
  align-items: center;
  border-radius: 20px;

}

.btnPredict {
  color:#fff !important;
  background-color:#28a745 !important;
  border-color:#28a745 !important;
}

.btnPredict:hover {
  cursor: pointer;
  opacity: 0.9;
}


.btnReset {
  color:#fff;
  background-color:#dc3545 !important;
  border-color:#dc3545 !important;
}


.btnReset:hover {
  cursor: pointer;
  opacity: 0.9;
}