.tabContainer {
  display: flex;
  margin-bottom: 10px;
  border: none !important;
}

.tabButton {
  padding: 10px;
  margin-right: 5px;
  background-color: #cde8ff;
  color: #000;
  border: none;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active {
  background-color: f6aac4 !important;
}

.tabButton.active {
  background-color: #52a6ff;
  color: #fff;
}

.tabButton:hover {
  background-color: #52a6ff;
  color: #fff;
}

.tabContent {
  padding: 10px;
}

.interactionArea {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.title {
  height: 150px;
  background-color: #F6AAC4;
  color: #FFF;
  font-family: 'Segoe UI';
  display: flex;
  align-items: center;
  border-radius: 20px;

}

.btnPredict {
  color:#fff !important;
  background-color:#28a745 !important;
  border-color:#28a745 !important;
}

.btnPredict:hover {
  cursor: pointer;
  opacity: 0.9;
}


.btnReset {
  color:#fff;
  background-color:#dc3545 !important;
  border-color:#dc3545 !important;
}


.btnReset:hover {
  cursor: pointer;
  opacity: 0.9;
}