.root {
    margin-bottom: 20px;
  }
  
  .root span {
    font-weight: bold;
    margin-bottom: 10px;
  }
  

.inputColor {
  background-color: #c5d7fa;
}

.inputColor:focus {
  background-color: #c5d7fa;
}