.contact {
    list-style-type: none;
    text-align: start;
    margin-left: 8vw;
}

.statistical {
    list-style-type: none;
    text-align: start;
    margin-left: 9vw;
}

.root {
    background-color: #dbeafe;
    /* margin-left: -10px; */
    /* max-width: 102%; */
    margin-right: 0;
    bottom: 0;
    width: 99vw;
    margin-left: -1px;
    position:absolute;
}